<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice.present? %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
      <p class="alert alert-info"><%= alert %></p>
      <% end %>
    </div>

    <div class="container">
      <header>
        <div class="d-flex flex-row-reverse">
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
        </div>
      </header>
    </div>
    <%= yield %>
  </body>
</html>
